html,
body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 80vh;
    margin: 0;
}

.full-height {
    height: 80vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-left {
    position: absolute;
    font-size: 30px;
    left: 10px;
    top: 18px;
}

.top-right {
    position: absolute;
    font-size: 30px;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 54px;
    font-weight: 500;
}

.links>a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 14px;
    font-weight: 550;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 15px;
}

img {
    border-radius: 50%;
}

img.projects_popup {
    border-radius: 0%;
}

.footer {
    color: #636b6f;
    padding: 0 25px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

em {
    font-weight: 600;
}

/* #ppimg p {
    opacity: 0;
    font-size: 21px;
    margin-top: 25px;
    text-align: center;
} */
