html,
body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 64px;
    font-weight: 500;
}

.links>a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 14px;
    font-weight: 550;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

img {
    border-radius: 50%;
}

/* #ppimg p {
    opacity: 0;
    font-size: 21px;
    margin-top: 25px;
    text-align: center;
} */
