<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Aqeeb Imtiaz Harun</title>

    <!-- Fonts -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,600" rel="stylesheet" type="text/css">

    <!-- Styles -->
    <link href="/css/myprojects.css" media="all" rel="stylesheet" type="text/css" />

</head>

<body>
    <div class="flex-center position-ref full-height">

        <div class="top-left links">
            <a href="/">Home</a>
        </div>

        <div class="top-right links">
            <a href="/resume">Resume</a>
        </div>

        <div class="content">

            <div class="title m-b-md">
                Projects & codes
            </div>

            <div class="links">
                <strong>I would love to get any feedback for the projects below! :)</strong>
                <br>
                <br>
                <strong>To-Do App with authentication:</strong> <a href="https://gitlab.com/aqeebimtiaz/to_do_app"
                    target="_blank">Gitlab</a><a href="https://aqeeb-basic-tasks-app.herokuapp.com" target="_blank">Heroku
                    Site</a>
                <span id="coolTasksApp" class="links">
                    <modal v-if="showImageModal" @close="showImageModal = false">
                        <p class="image is-4by3">
                            <img class="projects_popup" src="img/projects/basic_tasks_app.JPG" alt="basic_tasks_app">
                        </p>
                    </modal>
                    <a class="button is-white" @click="showImageModal = true;" @close="showImageModal = false">Preview</a>
                </span>

                <br>

                <strong>Blog site made during Laravel Training:</strong> <a href="https://gitlab.com/aqeeb01/my-freaking-blog"
                    target="_blank">Gitlab</a> <a href="http://aqeeb-cool-blog.herokuapp.com" target="_blank">Heroku
                    Site</a>
                <span id="basicTasksApp" class="links">
                    <modal-image v-if="showModal" @close="showModal = false">
                        <p class="image is-4by3">
                            <img class="projects_popup" src="img/projects/aqeeb_cool_blog.JPG" alt="aqeeb_cool_blog">
                        </p>
                    </modal-image>
                    <a class="button is-white" @click="showModal = true;" @close="showModal = false">Preview</a>
                </span>

                <br>
                <br>

                <a href="https://gitlab.com/aqeebimtiaz" target="_blank"><em>Visit Gitlab for more!</em>
                    <br>
                    <img src="img/Gitlab.png" alt="gitlab" height="30" width="30">
                </a>

            </div>
        </div>
    </div>

    <script src="https://unpkg.com/vue@2.5.17/dist/vue.js"></script>
    <script type="text/javascript" src="/js/myprojects.js"></script>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script>
            $(document).ready(function(){
                $('#ppimg').fadeIn(4000);
            });
        </script> -->
</body>

</html>
